<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*tst_.*\.exe$</ModulePath>
      </Include>
      <Exclude>
        <ModulePath>.*Qt6.*</ModulePath>
        <ModulePath>.*kddockwidgets.*</ModulePath>
      </Exclude>
    </ModulePaths>
    <Sources>
      <Include>
        <Source>.*\\src\\.*</Source>
      </Include>
      <Exclude>
        <Source>.*\\atlmfc\\.*</Source>
        <Source>.*\\vctools\\.*</Source>
        <Source>.*\\public\\sdk\\.*</Source>
        <Source>.*\\vc\\include\\.*</Source>
      </Exclude>
    </Sources>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>True</EnableDynamicNativeInstrumentation>
    <EnableStaticNativeInstrumentationRestore>True</EnableStaticNativeInstrumentationRestore>
    <CollectFromChildProcesses>True</CollectFromChildProcesses>
  </CodeCoverage>
</Configuration>
